<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="home-collaborator" color="primary"></ion-back-button>
              </ion-buttons>
      <div>
          <ion-title>Transferência de turma</ion-title>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
      <ion-label>Transferencias aguardando aprovação</ion-label>
      
  </div>
  <div *ngFor="let transfers of transfer; let i=index">
      <div *ngIf="transfer[i].status == 'PENDING'">
        <ion-card >
            <ion-list>
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='2'>
                                    <ion-buttons (click)="cancel()">
                                        <ion-icon name="close"></ion-icon>
                                        </ion-buttons>
                            </ion-col>
                                
                            <ion-col size='8' style="display:flex;justify-content: center; align-items: center">
                                <ion-icon name="contact" style="color:gray"></ion-icon>
                                <span style="color:mediumblue">{{transfer[i].enrollment.student.first_name}}
                                        {{transfer[i].enrollment.student.last_name}}</span>
                                        
                            </ion-col>

                            <ion-col size='2' float-right>
                                    <ion-buttons (click)="accept(transfer[i].id)">
                                            <ion-icon name="checkmark"></ion-icon>
                                        </ion-buttons>
                            </ion-col>
                            
                        </ion-row>
                        <ion-item>
                            Turma anterior: {{transfer[i].enrollment.class_group.title}}
                        </ion-item>
                        <ion-item>
                            Nova turma: {{transfer[i].target_group.title}}
                        </ion-item>
                    </ion-grid>
  
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
    </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="newTransfer()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>