<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-collaborator" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Selecionar Turma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let courses of course">
    <ion-item>
      <ion-label text-wrap>
        Curso: {{courses.name}}
      </ion-label>
    </ion-item>

    <div *ngFor="let classGroups of classGroup">

      <div *ngIf="courses.name == classGroups.course">
        <ion-card (click)="clickCard(classGroups.id, courses.id)">

          <ion-list>
            <ion-item>
              <ion-icon name="contact"></ion-icon>
              <h3>{{classGroups.title}}</h3>
            </ion-item>
          </ion-list>

          <ion-card-content>
            <h2>Horario: {{classGroups.time}}</h2>
          </ion-card-content>

        </ion-card>
      </div>
    </div>
  </div>

</ion-content>