<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title text-center>Selecionar Turma Para Chamada</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card (click)="goToTakeAttendance(classGroup)" *ngFor="let classGroup of classGroups">
      <ion-card-header>
        <ion-card-subtitle>{{classGroup.course}}</ion-card-subtitle>
        <ion-card-title>{{classGroup.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>Horario: {{classGroup.time}}</p>
          <p>Professor: {{classGroup.teacher}}</p>
      </ion-card-content>
    </ion-card> 
  </ion-list>
</ion-content>