<ion-header>
  <ion-toolbar>
    <ion-title text-center>Fazer Chamada</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item text-center>
    <ion-title>Selecione a turma</ion-title>
  </ion-item>
  <ion-searchbar placeholder="Buscar Turma"></ion-searchbar>
  <ion-card (click)="clickOnTurma(turma.id)" *ngFor='let turma of turmasParaChamada'> 
      <ion-list>
        <ion-item>
          <ion-icon name="contact"></ion-icon>
          <h3>{{turma.turma}}</h3>
        </ion-item>
      </ion-list>
    <ion-card-content>
      <h2>Horario: {{turma.date}}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>