<ion-header>
    <ion-toolbar>
      <div text-center>
        <ion-title>Minha turma</ion-title>
      </div>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home-student"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    
    <!-- <ion-button  (click)="transferencia()" expand="block" color="tertiary">Pedir transferência</ion-button> -->
    <ion-list *ngFor= "let turm of turma">
          <ion-item>
            <h2>Turma: {{turm.title}}</h2>
          </ion-item>
          <ion-item>
            <h2>Sala: {{turm.classroom}}</h2>
          </ion-item>
          <ion-item>
            <h2>Horário: {{turm.title}}</h2>
          </ion-item>
          <ion-list>
            <ion-list-header>
              <h2>Colaboradores</h2>
            </ion-list-header>
            <ion-item *ngFor="let collaborator of collaborators">
              <h3>{{collaborator.name}}</h3>
            </ion-item>
          </ion-list>
    </ion-list>
    <ion-button  (click)="goToMyPresences()" expand="block" routerDirection="Forward">Visualizar minhas faltas</ion-button>
</ion-content>
