<ion-header>
    <div text-center>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" color="primary"></ion-back-button>
        <ion-title>Entrar</ion-title>
    </ion-buttons>
    </ion-toolbar>
  </div>
  </ion-header>
  <ion-content>
    <form (ngSubmit)="login()">
      <ion-item>
        <ion-input [(ngModel)]="credentials.email" name="email" placeholder="E-mail ou Telefone" required="true" clearInput></ion-input>
      </ion-item>
      <ion-row center>  
        <ion-col text-center>   
          <ion-button color="primary" size="big" type="submit" >Entrar</ion-button>  
        </ion-col> 
      </ion-row>
    </form>
    <ion-button (click)="goToRegister()" expand="full" fill="clear">Ou crie sua conta aqui!</ion-button>
  </ion-content>
  