<ion-header>
  <ion-toolbar>
      <div text-center>
    <ion-title>chamada</ion-title>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let entry of turma">
      <ion-label>{{entry.name}}</ion-label>
      <ion-checkbox  style="border-color:blue" (click)="selectMember(entry)" [(ngModel)]="entry.attendance1"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button  (click)="finalizar()" expand="block">Concluir chamada</ion-button>
</ion-content>
