<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="all-class-groups"></ion-back-button>
    </ion-buttons>
    <ion-title>Todas aulas ja dadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let lessons of lesson">
    <ion-card (click)="clickCardLesson(lessons)"> 
            
      <ion-list>
          <ion-item>
          <ion-icon name="contact"></ion-icon>
              <h3>{{lessons.date}}</h3>
          </ion-item>
          </ion-list>
          </ion-card>
  </div>
</ion-content>
