<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Novo curso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-label text-wrap>
      Cursos em aberto
  </ion-label>
  <ion-card (click)="presentAlertConfirm(classGroup)" routerDirection="Forward" *ngFor='let classGroup of classGroups'>
    <ion-card-content>
      <h1>Turma: {{classGroup.title}} </h1>
      <h2>Dirigente: {{classGroup.teacher}} </h2>
      <h3>Horario: {{classGroup.time}}</h3>
      <h4>Semestre: {{classGroup.semester}}</h4>
      <h4>Ano: {{classGroup.year}}</h4>
    </ion-card-content>
  </ion-card> 
</ion-content>
