<ion-header>
  <ion-toolbar>  
    <ion-title>Transferir de Turma</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-student"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label text-wrap>Turmas disponíveis baseado no seu ciclo</ion-label>
  </ion-item>
  <ion-card  (click)="presentAlertConfirm(turma)" *ngFor='let turma of turmas'> 
    <ion-card-header>
      <ion-card-subtitle>
        {{turma.course}}
      </ion-card-subtitle>
      <ion-card-title>
        <ion-icon name="radio-button-on" style="color:green;font:bold;"></ion-icon>
        {{turma.title}}
      </ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <h2>Horario: {{turma.time}}</h2>
        <h2>Professor: {{turma.teacher}}</h2>
        <h2>Semestre: {{turma.semester}} de {{turma.year}}</h2>
      </ion-card-content>
  </ion-card>
</ion-content>
