<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
      <div text-center>
        <ion-title>Minhas Turmas</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content >
      <ion-item>
        <ion-label text-wrap>
          <h2>Cursos em aberto</h2>
        </ion-label>
      </ion-item>
      <ion-card (click)="goToClassGroupDetails(classGroup)" routerDirection="Forward" *ngFor='let classGroup of activeClassGroups'>
          <ion-card-content>
            <h2>Dirigente: {{classGroup.teacher}} </h2>
            <h3>Horario: {{classGroup.time}}</h3>
            <h4>Semestre: {{classGroup.semester}}</h4>
            <h4>Ano: {{classGroup.year}}</h4>
          </ion-card-content>
      </ion-card>  
      <ion-item>
        <ion-label>
          <h2>Cursos já realizados</h2>
        </ion-label>
      </ion-item>
      <ion-card (click)="goToClassGroupDetails(classGroup)" routerDirection="Forward" *ngFor='let classGroup of inactiveClassGroups'>
        <ion-card-content>
          <h2>Dirigente: {{classGroup.teacher}} </h2>
          <h3>Horario: {{classGroup.time}}</h3>
          <h4>Semestre: {{classGroup.semester}}</h4>
          <h4>Ano: {{classGroup.year}}</h4>
        </ion-card-content>
      </ion-card>
      <ion-item>
        <ion-label text-wrap>
          <h2>Cursos aguardando aprovação</h2>
        </ion-label>
      </ion-item>
      <ion-card (click)="goToClassGroupDetails(classGroup)" routerDirection="Forward" *ngFor='let classGroup of pendinClassGroups'>
        <ion-card-content>
          <h2>Dirigente: {{classGroup.teacher}} </h2>
          <h3>Horario: {{classGroup.time}}</h3>
          <h4>Semestre: {{classGroup.semester}}</h4>
          <h4>Ano: {{classGroup.year}}</h4>
        </ion-card-content>
      </ion-card>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newEnrollment()" routerDirection="Forward">
          <ion-fab-button color="secondary">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  </ion-content>
  