<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Minha Turma</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
          <h2>Turma: {{classGroup?.title}}</h2>
        </ion-item>
        <ion-item>
          <h2>Sala: {{classGroup?.classroom}}</h2>
        </ion-item>
        <ion-item>
          <h2>Horário: {{classGroup?.time}}</h2>
        </ion-item>
        <ion-list>
          <ion-list-header>
            <h2>Colaboradores</h2>
          </ion-list-header>
          <ion-item *ngFor="let collaborator of collaborators">
            <h3>{{collaborator.first_name}} {{collaborator.last_name}}</h3>
          </ion-item>
        </ion-list>
  </ion-list>
  <ion-button  (click)="goToMyAbsences()" expand="block" routerDirection="Forward">Visualizar minhas faltas</ion-button>
  <ion-button  (click)="tranferClassGroup()" expand="block" color="tertiary" routerDirection="Forward">Pedir transferência</ion-button>
</ion-content>
