<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Minha turma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor= "let turm of turma">
        <ion-item>
          <h2>Turma: {{turm.title}}</h2>
        </ion-item>
        <ion-item>
          <h2>Sala: {{turm.classroom}}</h2>
        </ion-item>
        <ion-item>
          <h2>Horário: {{turm.title}}</h2>
        </ion-item>
        <ion-list>
          <ion-list-header>
            <h2>Colaboradores</h2>
          </ion-list-header>
          <ion-item *ngFor="let collaborator of collaborators">
            <h3>{{collaborator.name}}</h3>
          </ion-item>
        </ion-list>
  </ion-list>
  <ion-button  (click)="goToMyAbsences()" expand="block" routerDirection="Forward">Visualizar minhas faltas</ion-button>
  <ion-button  (click)="tranferClassGroup()" expand="block" color="tertiary" routerDirection="Forward">Pedir transferência</ion-button>
</ion-content>
