<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Minhas Faltas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>	
    <ion-label text-wrap>	
        Você tem presenças nesses dias dessa turma!	
    </ion-label>	
  </ion-item>	
  <ion-list>	
      <ion-card *ngFor='let abscence of abscences'>	
        <ion-card-header>	
          <ion-card-subtitle>	
            {{abscence.lesson.turma.course}} - {{abscence.lesson.turma.title}}	
          </ion-card-subtitle>	
          <ion-card-title>	
            {{abscence.lesson.date}}	
          </ion-card-title>	
        </ion-card-header>	
        <ion-card-content>	
          Semestre {{abscence.lesson.turma.semester}} de {{abscence.lesson.turma.year}}	
        </ion-card-content>	
      </ion-card>	
  </ion-list>
</ion-content>
