<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
      <ion-title>Meus Cursos</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label>
        <h3>Cursos em aberto</h3>
    </ion-label>
  </ion-item>
  <ion-card (click)="goToTurmaDetail(turma)" routerDirection="Forward" *ngFor='let turma of activeTurmas'>
    <ion-card-content>
      <h2>Dirigente: {{turma.teacher}} </h2>
      <h3>Horario: {{turma.time}}</h3>
      <h4>Semestre: {{turma.semester}}</h4>
      <h4>Ano: {{turma.year}}</h4>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label>
      <h3>Cursos já realizados</h3>
    </ion-label>
  </ion-item>
  <ion-card (click)="goToTurmaDetail(turma)" routerDirection="Forward" *ngFor='let turma of inactiveTurmas'>
      <ion-card-content>
        <h2>Dirigente: {{turma.teacher}} </h2>
        <h3>Horario: {{turma.time}}</h3>
        <h4>Semestre: {{turma.semester}}</h4>
        <h4>Ano: {{turma.year}}</h4>
      </ion-card-content>
    </ion-card>    
</ion-content>
<ion-footer>
    <ion-button expand="block" (click)="newEnrollment()">Matricular-se em nova Turma</ion-button>
</ion-footer>
