<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <div text-center>
      <ion-title>Minhas Turmas</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content >
    <ion-item>
      <ion-label text-wrap>
        Cursos em aberto
      </ion-label>
    </ion-item>
    <ion-card (click)="goToClassGroupDetails(classGroup)" routerDirection="Forward" *ngFor='let classGroup of activeClassGroups'>
        <ion-card-content>
          <h2>Dirigente: {{classGroup.teacher}} </h2>
          <h3>Horario: {{classGroup.time}}</h3>
          <h4>Semestre: {{classGroup.semester}}</h4>
          <h4>Ano: {{classGroup.year}}</h4>
        </ion-card-content>
    </ion-card>  
    <ion-item>
      <ion-label>
        Cursos já realizados
      </ion-label>
    </ion-item>
    <ion-card (click)="goToClassGroupDetails(classGroup)" routerDirection="Forward" *ngFor='let classGroup of inactiveClassGroups'>
      <ion-card-content>
        <h2>Dirigente: {{classGroup.teacher}} </h2>
        <h3>Horario: {{classGroup.time}}</h3>
        <h4>Semestre: {{classGroup.semester}}</h4>
        <h4>Ano: {{classGroup.year}}</h4>
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label text-wrap>
        Cursos aguardando aprovação
      </ion-label>
    </ion-item>
    <ion-card (click)="goToClassGroupDetails(classGroup)" routerDirection="Forward" *ngFor='let classGroup of pendinClassGroups'>
      <ion-card-content>
        <h2>Dirigente: {{classGroup.teacher}} </h2>
        <h3>Horario: {{classGroup.time}}</h3>
        <h4>Semestre: {{classGroup.semester}}</h4>
        <h4>Ano: {{classGroup.year}}</h4>
      </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newEnrollment()" routerDirection="Forward">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
