<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <div text-center>
      <ion-title>Minhas turmas</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label text-wrap>
      Cursos em aberto
    </ion-label>
  </ion-item>
  <ion-card (click)="goToTurmaDetail(turma)" routerDirection="Forward" *ngFor='let turma of activeTurmas'>
    <ion-card-content>
      <h2>Dirigente: {{turma.teacher}} </h2>
      <h3>Horario: {{turma.time}}</h3>
      <h4>Semestre: {{turma.semester}}</h4>
      <h4>Ano: {{turma.year}}</h4>
    </ion-card-content>

    <ion-label>
      <h3>Cursos já realizados</h3>
    </ion-label>
    <ion-card (click)="goToTurmaDetail(turma)" routerDirection="Forward" *ngFor='let turma of inactiveTurmas'>
      <ion-card-content>
        <h2>Dirigente: {{turma.teacher}} </h2>
        <h3>Horario: {{turma.time}}</h3>
        <h4>Semestre: {{turma.semester}}</h4>
        <h4>Ano: {{turma.year}}</h4>
      </ion-card-content>
    </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="clickPlus()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item>
    <ion-label text-wrap>
      Cursos aguardando aprovação
    </ion-label>
  </ion-item>
  <ion-card *ngFor='let turmas of turma'>
    <div *ngIf="turmas.status == 'waiting';'nao há nenhum curso'">

      <ion-list>
        <ion-item>
          <ion-icon name="radio-button-on" style="color:darkorange;font:bold;"></ion-icon>
          <h3>{{turmas.name}}</h3>
        </ion-item>
      </ion-list>

      <ion-card-content>
        <h1>Dirigente: {{turmas?.collaborators[0].name}} </h1>
        <h2>Horario: {{turmas?.startTime}} ~ {{turmas.endTime}}</h2>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="newEnrollment()" routerDirection="Forward">Matricular-se em nova Turma</ion-button>
</ion-footer>