<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button (click)="pop()"></ion-back-button>
        </ion-buttons>
    <ion-title>Criar nova turma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
     <ion-label stacked>Titulo: </ion-label> 
    <ion-input type="text" [(ngModel)]="title" text-left id="input"></ion-input>
  </ion-item>
  <ion-item >
      <ion-label stacked>Sala: </ion-label> 
     <ion-input type="text" [(ngModel)]="classroom" text-left id="input"></ion-input>
   </ion-item>
   <ion-item >
      <ion-label stacked>Horário: </ion-label> 
     <ion-input type="text" [(ngModel)]="time" text-left id="input"></ion-input>
   </ion-item>
   <ion-item >
      <ion-label stacked>Ano: </ion-label> 
     <ion-input type="text" [(ngModel)]="year" text-left id="input"></ion-input>
   </ion-item>
    <ion-item>
        <ion-label>Escolha o tipo de curso</ion-label>
        <ion-select [(ngModel)]="selectedCourse">
          <ion-select-option *ngFor="let courses of course">{{courses.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item >
        <ion-label stacked>Professor: </ion-label> 
       <ion-input type="number" [(ngModel)]="teacher_id" text-left id="input"></ion-input>
     </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="createClass()">Criar nova turma</ion-button>

</ion-content>
