<ion-header>
  <ion-toolbar>
    <ion-title>attendance</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item *ngFor="let entry of enrollment; let i=index">
      <ion-label>{{enrollment[i].student.first_name}} {{enrollment[i].student.last_name}}</ion-label>
      <ion-checkbox  style="border-color:blue" (click)="selectMember(entry)" [(ngModel)]="entry.attendance"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button  (click)="finalizar()" expand="block">Concluir chamada</ion-button>
</ion-content>
