<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Minhas Faltas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>	
    <ion-label text-wrap>	
        Você tem presenças nesses dias dessa turma!	
    </ion-label>	
  </ion-item>	
  <ion-list>	
      <ion-card *ngFor='let attendance of attendances'>	
        <ion-card-header>
          <ion-card-title>	
            {{attendance.lesson_date}}	
          </ion-card-title>
          <ion-checkbox disabled="true" [checked]="attendance.was_present == true"></ion-checkbox>
        </ion-card-header>
      </ion-card>	
  </ion-list>
</ion-content>
