<ion-header>
  <ion-toolbar>
      <div text-center>
    <ion-title>Matrículas</ion-title>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card> 
<h1 style="text-align: center; color:darkblue">Ciclo 01</h1>
<div *ngFor='let turmas of turma'> 
  <div *ngIf="turmas.typeOfClass == 'Ciclo 01'">
    <ion-card>
      <ion-list>
          <ion-item>
            <ion-grid>
           <ion-row>
             

          <ion-col size='10' style="display:flex;justify-content: center; align-items: center">
            
          <ion-icon name="contact" style="color:gray"></ion-icon>
              <span style="color:mediumblue">{{turmas.name}}</span>
            </ion-col>
            <ion-col size='2' float-right>
              <ion-checkbox  style="border-color:blue" (click)="selectMember(turmas)" [(ngModel)]="turmas.check"></ion-checkbox>
            </ion-col>
             
            </ion-row>
          </ion-grid>

          </ion-item>
            <ion-row align-items-start>
              <ion-col style="padding-left: 18px">
                  Se inscreveu para turma: {{turmas.turma}}
              </ion-col>      
            </ion-row>
            <ion-col style="padding-left: 18px">
              Alunos já cadastrados: {{turmas.alunos}}
          </ion-col>   
          </ion-list>
        </ion-card>
    </div>
</div>
</ion-card>


<ion-card> 
  <h1 style="text-align: center; color:darkblue">Cursos livres</h1>
  <div *ngFor='let turmas of turma'> 
      <div *ngIf="turmas.typeOfClass == 'Turma Livre'">
      <ion-card>
        <ion-list>
            <ion-item>
              <ion-grid>
                  <ion-row>
                    <ion-col size='10' style="display:flex;justify-content: center; align-items: center">
            
                      <ion-icon name="contact" style="color:gray"></ion-icon>
                          <span style="color:mediumblue">{{turmas.name}}</span>
                        </ion-col>
                        <ion-col size='2' float-right>
                          <ion-checkbox  style="border-color:blue" (click)="selectMember(turmas)" [(ngModel)]="turmas.check"></ion-checkbox>
                        </ion-col>
                     
                    </ion-row>
            </ion-grid>

            </ion-item>
              <ion-row align-items-start>
                <ion-col style="padding-left: 18px">
                    Se inscreveu para o curso: {{turmas.turma}}
                </ion-col>      
              </ion-row> 
              <ion-col style="padding-left: 18px">
                Alunos já cadastrados: {{turmas.alunos}}
            </ion-col>   
            </ion-list>
          </ion-card>
      </div>
</div>
</ion-card>

<ion-button  (click)="finalizar()" expand="block">Confirmar matricula</ion-button>

</ion-content>
