<ion-header>
  <ion-toolbar>
    <ion-title>Nosso Lar - App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Ações de Colaborador</h2>
  <ion-button  (click)="rollCall()" expand="block" routerDirection="Forward">Fazer Chamada</ion-button>
  <ion-button  (click)="goToAllUsers()" expand="block" routerDirection="Forward">Todos os Usuários</ion-button>
  <ion-button  (click)="goToAllClassGroups()" expand="block" routerDirection="Forward">Turmas</ion-button>
  <ion-button  (click)="goToPendingTransfers()" expand="block" routerDirection="Forward">Transferências</ion-button>  
  <h2>Ações de Aluno</h2> 
  <ion-button  (click)="goToMyClassGroups()" expand="block" routerDirection="Forward">Minhas Turmas</ion-button>
</ion-content>
