<ion-header>
    <ion-toolbar>
        <div text-center>
      <ion-title>Cadastrar-se novo curso</ion-title>
        </div>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

      <ion-item>
          <ion-label text-wrap>
              Cursos em aberto
          </ion-label>
        </ion-item>
        <ion-card (click)="presentAlertConfirm(turmas)" *ngFor='let turmas of turma'> 
            <div *ngIf="turmas.typeOfClass == 'Turma Livre' || turmas.typeOfClass == 'Palestra'">
               
                <ion-list>
                    <ion-item>
                      <ion-icon name="radio-button-on" style="color:green;font:bold;"></ion-icon>
                      <h3>{{turmas.name}}</h3>
                    </ion-item>
                    </ion-list>
  
              <ion-card-content>
              <h1>Dia: {{turmas.weekday}} </h1>
              <h2>Horario: {{turmas?.startTime}} ~ {{turmas.endTime}}</h2>
              <h2>Localização: {{turmas.location}}</h2>
              <h2>Tipo: {{turmas.typeOfClass}}</h2>
            </ion-card-content>
              </div>
        </ion-card>

</ion-content>
